<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <div th:replace="layouts/utilFragments::navigator('/real-estate', '매물 관리', '매물 목록')"></div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="callout callout-info">
                        <form name="frmSearch">
                            <input type="hidden" name="page" th:value="${condition.page}" />
                            <input type="hidden" name="size" th:value="${condition.size}" />
                            <div class="col-md-12" style="margin-bottom: 25px;"><h5><i class="fa fa-building"></i> 매물관리</h5></div>
                            <div class="col-md-12 form-group display-flex-row sub-line">
                                <table class="table projects search-table spacing-table">
                                    <thead>
                                        <tr>
                                            <th style="width: 33%;" class="no-padding" colspan="3"></th>
                                            <th style="width: 66%;" class="no-padding" colspan="6"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="9" class="search-title" style="width: 100%;">
                                                <label class="control-label line-center margin-bottom-0" style="font-weight: normal;">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                    물건 정보 검색
                                                </label>
                                                <div class="pull-right" style="display: inline-block;">
                                                    <button class="btn btn-primary text-right" processType="all">전체</button>
                                                    <button class="btn btn-default text-right" processType="Writing">작성중</button>
                                                    <button class="btn btn-default text-right" processType="Prepare">준비</button>
                                                    <button class="btn btn-default text-right" processType="Working">작업중</button>
                                                    <button class="btn btn-default text-right" processType="Complete">완료</button>
                                                    <button class="btn btn-default text-right" processType="Pending">보류</button>
                                                    <button class="btn btn-default text-right" processType="SellBefore">매각전</button>
                                                    <button class="btn btn-default text-right" processType="SellComplete">매각</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="input-label">
                                                    <label for="team" class="top-label">
                                                        <div class="search-text">위치</div>
                                                    </label>
                                                </div>
                                                <div class="display-flex-row margin-top-35">
                                                    <select class="form-control form-control custom-select margin-right-5 border-none" name="sido">
                                                        <option>시도 선택</option>
                                                        <th:block th:if="${not #lists.isEmpty(areaList)}" th:each="area: ${areaList}">
                                                            <option th:id="${area.areaId}" th:value="${area.areaId}" th:legalCode="${area.legalAddressCode}" th:text="${area.name}"></option>
                                                        </th:block>
                                                    </select>

                                                    <select class="form-control form-control-sm custom-select select-box margin-right-5 border-none" name="gungu">
                                                        <option>구군 선택</option>
                                                    </select>

                                                    <select class="form-control form-control-sm custom-select select-box margin-right-4 border-none" name="dong">
                                                        <option>동 선택</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td colspan="2" class="search-double-group">
                                                <div class="display-flex-row search-double-field">
                                                    <div class="input-label">
                                                        <label for="minSiteArea" class="top-label">
                                                            <div class="search-text">일반</div>
                                                        </label>
                                                    </div>
                                                    <select class="form-control form-control-sm custom-select margin-top-35 border-none" name="landType">
                                                        <option value="general">일반</option>
                                                        <option value="mountain">산</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td colspan="2" class="search-double-group">
                                                <div class="display-flex-row search-double-field">
                                                    <div class="input-label">
                                                        <label for="minTotalArea" class="top-label">
                                                            <div class="search-text">번지</div>
                                                        </label>
                                                    </div>
                                                    <input type="text" id="bun" name="minTotalArea" class="form-control search-input center-align">
                                                    <div class="input-div"><span>-</span></div>
                                                    <input type="text" id="ji" name="maxTotalArea" class="form-control search-input center-align">
                                                </div>
                                            </td>
                                            <td colspan="2">
                                                <div class="input-label">
                                                    <label for="team" class="top-label">
                                                        <div class="search-text">용도지역</div>
                                                    </label>
                                                </div>
                                                <input type="text" name="useDistrict" class="form-control search-input">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" style="position: relative;">
                                                <div class="input-label">
                                                    <label for="name" class="top-label">
                                                        <div class="search-text">물건명</div>
                                                    </label>
                                                </div>
                                                <input type="text" id="name" name="name" class="form-control search-input">
                                            </td>
                                            <td colspan="1">
                                                <div class="input-label">
                                                    <label for="name" class="top-label">
                                                        <div class="search-text">담당자</div>
                                                    </label>
                                                </div>
                                                <input type="text" id="manager" name="manager" class="form-control search-input">
                                            </td>
                                            <td colspan="1">
                                                <div class="input-label">
                                                    <label for="team" class="top-label">
                                                        <div class="search-text">팀</div>
                                                    </label>
                                                </div>
                                                <input type="text" id="team" name="team" class="form-control search-input">
                                            </td>
                                            <td colspan="2" class="search-double-group">
                                                <div class="display-flex-row search-double-field">
                                                    <div class="input-label">
                                                        <label for="minCharge" class="top-label">
                                                            <div class="search-text">금액</div>
                                                        </label>
                                                    </div>
                                                    <input type="text" id="minCharge" name="minCharge" class="form-control search-input center-align">
                                                    <div class="input-div"><span>~</span></div>
                                                    <input type="text" id="maxCharge" name="maxCharge" class="form-control search-input center-align">
                                                    <div class="input-label">
                                                        <label for="maxCharge" class="bottom-label">
                                                            <div class="search-text">억원</div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="2" class="search-double-group">
                                                <div class="display-flex-row search-double-field">
                                                    <div class="input-label">
                                                        <label for="minTotalArea" class="top-label">
                                                            <div class="search-text">전체면적</div>
                                                        </label>
                                                    </div>
                                                    <input type="text" id="minTotalArea" name="minTotalArea" class="form-control search-input center-align">
                                                    <div class="input-div"><span>~</span></div>
                                                    <input type="text" id="maxTotalArea" name="maxTotalArea" class="form-control search-input center-align">
                                                    <div class="input-label">
                                                        <label for="maxTotalArea" class="bottom-label">
                                                            <div class="search-text">평</div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="2" class="search-double-group">
                                                <div class="display-flex-row search-double-field">
                                                    <div class="input-label">
                                                        <label for="minSiteArea" class="top-label">
                                                            <div class="search-text">대지</div>
                                                        </label>
                                                    </div>
                                                    <input type="text" id="minSiteArea" name="minSiteArea" class="form-control search-input center-align">
                                                    <div class="input-div"><span>~</span></div>
                                                    <input type="text" id="maxSiteArea" name="maxSiteArea" class="form-control search-input center-align">
                                                    <div class="input-label">
                                                        <label for="maxSiteArea" class="bottom-label">
                                                            <div class="search-text">평</div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" style="position: relative;">
                                                <div class="input-label">
                                                    <label for="realEstateId" class="top-label">
                                                        <div class="search-text">물건번호</div>
                                                    </label>
                                                </div>
                                                <input type="text" id="realEstateId" name="realEstateId" class="form-control">
                                            </td>
                                            <td colspan="1">
                                                <div class="input-label">
                                                    <label for="owner" class="top-label">
                                                        <div class="search-text">소유자</div>
                                                    </label>
                                                </div>
                                                <input type="text" id="owner" name="owner" class="form-control">
                                            </td>
                                            <td colspan="1">
                                                <div class="input-label">
                                                    <label for="phone" class="top-label">
                                                        <div class="search-text">연락처</div>
                                                    </label>
                                                </div>
                                                <input type="text" id="phone" name="phone" class="form-control">
                                            </td>
                                            <td colspan="2" class="search-double-group">
                                                <div class="display-flex-row search-double-field">
                                                    <div class="input-label">
                                                        <label for="minRateOfReturn" class="top-label">
                                                            <div class="search-text">수익률</div>
                                                        </label>
                                                    </div>
                                                    <input type="text" id="minRateOfReturn" name="minRateOfReturn" class="form-control search-input center-align">
                                                    <div class="input-div"><span>~</span></div>
                                                    <input type="text" id="maxRateOfReturn" name="maxRateOfReturn" class="form-control search-input center-align">
                                                    <div class="input-label">
                                                        <label for="maxRateOfReturn" class="bottom-label">
                                                            <div class="search-text">%</div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="2" class="search-double-group">
                                                <div class="display-flex-row search-double-field">
                                                    <div class="input-label">
                                                        <label for="minGrossFloorArea" class="top-label">
                                                            <div class="search-text">연면적</div>
                                                        </label>
                                                    </div>
                                                    <input type="text" id="minGrossFloorArea" name="minGrossFloorArea" class="form-control search-input center-align">
                                                    <div class="input-div"><span>~</span></div>
                                                    <input type="text" id="maxGrossFloorArea" name="maxGrossFloorArea" class="form-control search-input center-align">
                                                    <div class="input-label">
                                                        <label for="maxGrossFloorArea" class="bottom-label">
                                                            <div class="search-text">평</div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="2" class="search-double-group">
                                                <div class="display-flex-row search-double-field">
                                                    <div class="input-label">
                                                        <label for="startApprovalYear" class="top-label">
                                                            <div class="search-text">승인일자</div>
                                                        </label>
                                                    </div>
                                                    <input type="text" id="startApprovalYear" name="startApprovalYear" class="form-control search-input center-align">
                                                    <div class="input-div"><span>~</span></div>
                                                    <input type="text" id="endApprovalYear" name="endApprovalYear" class="form-control search-input center-align">
                                                    <div class="input-label">
                                                        <label for="endApprovalYear" class="bottom-label">
                                                            <div class="search-text">년</div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12 display-flex-row line margin-top-8">
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <button type="button" id="btnReset" class="btn btn-success float-right"><i class="fa fa-refresh"></i>
                                            초기화
                                        </button>
                                        <button type="submit" class="btn btn-default float-right" style="margin-right: 5px;">
                                            <i class="fa fa-search"></i> 검색
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card" style="border-left: 5px solid #117a8b;">
                        <div class="card-header">
                            <h4 class="card-title">총</h4>(&nbsp;<span th:text="${pages.content.size()}"></span>개&nbsp;)
                            <div class="card-tools float-right">
                                <select class="form-control" id="limit">
                                    <option value="10" th:selected="${condition.size} == 10 ? selected ">10개</option>
                                    <option value="20" th:selected="${condition.size} == 20 ? selected ">20개</option>
                                    <option value="30" th:selected="${condition.size} == 30 ? selected ">30개</option>
                                    <option value="50" th:selected="${condition.size} == 50 ? selected ">50개</option>
                                    <option value="100" th:selected="${condition.size} == 100 ? selected ">100개</option>
                                    <option value="300" th:selected="${condition.size} == 300 ? selected ">300개</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <table class="table table-striped projects">
                                    <thead>
                                    <tr>
                                        <th style="width: 5%;">
                                            <label class="margin-bottom-0">
                                                <input type="checkbox" class="checkElement chkAll" name="checkAll" th:data-children="numbers">
                                            </label>
                                        </th>
                                        <th style="width: 10%;">사진</th>
                                        <th style="width: 15%;">주소</th>
                                        <th style="width: 5%;">용도</th>
                                        <th style="width: 9%;">진행단계</th>
                                        <th style="width: 15%;">금액</th>
                                        <th style="width: 11%;">면적</th>
                                        <th style="width: 5%;">담당자</th>
                                        <th style="width: 9%;">등록일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${not #lists.isEmpty(pages.content)}" th:each="item, status : ${pages.content}">
                                        <td>
                                            <label class="margin-bottom-0">
                                                <input type="checkbox" class="checkElement chkAll" name="numbers" th:value="${item.realEstateId}">
                                            </label>
                                        </td>
                                        <td>
                                            <th:block th:if="${#strings.isEmpty(item.imgUrl)}">
                                                <img th:src="@{/images/no-image-found.jpeg}" class="list-img-size" style="cursor: pointer;"/>
                                            </th:block>
                                            <th:block th:if="${not #strings.isEmpty(item.imgUrl)}">
                                                <img th:src="${item.imgUrl}" class="list-img-size" style="cursor: pointer;"/>
                                            </th:block>
                                        </td>
                                        <td>
                                            <div class="display-flex-column">
                                                <a th:href="|/real-estate/${item.realEstateId}/edit|">
                                                    <span style="cursor: pointer;">[[${item.address + ' ' + (item.addressDetail != null ? item.addressDetail : '')}]]</span>
                                                </a>
                                                <th:block th:if="${not #strings.isEmpty(item.buildingName)}">
                                                    <span th:text="${item.buildingName}"></span>
                                                </th:block>
                                                <th:block th:if="${not #strings.isEmpty(item.prposArea1Nm)}">
                                                    <span th:text="${item.prposArea1Nm}"></span>
                                                </th:block>
                                            </div>
                                        </td>
                                        <td th:text="${item.usageType != null ? item.usageType.name : ''}"></td>
                                        <td>
                                            <th:block th:if="${item.processType != null}">
                                                [[${item.processType.description}]]
                                            </th:block>
                                        </td>
                                        <td>
                                            <div class="display-flex-column">
                                                <div class="display-flex-row">
                                                    <button class="btn btn-xs btn-danger margin-right-5">매매</button>
                                                    <div>
                                                        <span th:text="${item.salePrice > 0 ? #numbers.formatInteger(item.salePrice, 3, 'COMMA') : ''}"></span>만원&nbsp;
                                                        (<span th:text="${item.averageUnitPrice > 0 ? #numbers.formatInteger(item.averageUnitPrice, 3, 'COMMA') : ''}"></span>만/3.3㎡)
                                                    </div>
                                                </div>
                                                <div class="display-flex-row margin-top-5">
                                                    <button class="btn btn-xs btn-default margin-right-5">수익</button>
                                                    <div>
                                                        <span th:text="${item.revenueRate > 0 ? item.revenueRate : ''}"></span>%&nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                연&nbsp;<span th:text="${item.totArea}"></span>㎡&nbsp;대&nbsp;<span th:text="${item.platArea}"></span>㎡
                                                <br />
                                                건&nbsp;<span th:text="${item.archArea}"></span>㎡
                                            </div>
                                        </td>
                                        <td th:text="${item.managerName}"></td>
                                        <td th:text="${#temporals.format(item.createdAt, 'YYYY-MM-dd HH:mm')}"></td>
                                    </tr>
                                    <tr th:unless="${not #lists.isEmpty(pages.content)}">
                                        <td class="text-center" colspan="8">등록된 매물이 없습니다.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding: 10px; margin-top: 10px;">
                            <button id="btnRealEstateModal" class="btn btn-primary float-right" style="margin-right: 20px; margin-bottom: 20px;"><i class="fa fa-plus"></i> 신규매물등록</button>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <!-- 페이징 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade margin-top-200" tabindex="-1" role="dialog" id="realEstateModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title control-label" style="font-weight: bold;">매물 등록</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-dialog-scrollable display-flex-column" style="max-height: 1030px; height: 100%; overflow: auto;">
                    <div class="form-horizontal col-md-12 no-left-padding display-flex-row">
                        <div class="col-md-8 no-left-padding">
                            <form class="form-horizontal" name="frmMoveRegister">
                                <input type="hidden" name="bCode" />
                                <input type="hidden" name="hCode" />
                                <table class="table table-borderless">
                                    <tbody>
                                    <tr>
                                        <td class="col-md-6" colspan="6">
                                            <label class="text-label no-left-padding">매물종류</label>
                                            <select class="form-control" name="teamId">
                                                <option value="">선택</option>
                                            </select>
                                        </td>
                                        <td class="col-md-6" colspan="6">
                                            <label class="text-label no-left-padding">거래종류</label>
                                            <select class="form-control" name="roleName">
                                                <option value="">선택</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-12 no-left-padding" colspan="12">
                                            <div class="col-md-12">
                                                <label class="text-label">주소</label>
                                            </div>
                                            <div class="col-md-12 display-flex-row no-left-padding">
                                                <input type="text" class="form-control form-control-sm col-sm-9" name="address" readonly />
                                                <!--
                                                <select class="form-control col-sm-3 margin-right-4" name="landType">
                                                    <option value="">시도선택</option>
                                                </select>
                                                <select class="form-control col-sm-3 margin-right-4" name="landType">
                                                    <option value="">구군 선택</option>
                                                </select>
                                                <select class="form-control col-sm-3 margin-right-4" name="landType">
                                                    <option value="">동 선택</option>
                                                </select>
                                                -->
                                                <button type="button" class="btn btn-sm btn-default col-sm-3 btnAddress" style="margin-left: 5px;"> 주소검색</button>
                                            </div>
                                            <div class="col-md-12 display-flex-row no-left-padding margin-top-8">
                                                <select class="form-control col-md-4 margin-right-4" name="landType">
                                                    <option value="general">일반</option>
                                                    <option value="mountain">산</option>
                                                </select>
                                                <input type="text" class="form-control col-md-4 margin-right-4" name="bun" placeholder="번" />
                                                <input type="text" class="form-control col-md-4" name="ji" placeholder="지" />
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div id="map" class="col-md-4 text-alien-center" style="background-color: #eeeeee; border-radius: 20px; padding: 80px 20px 20px;">
                            <span class="margin-bottom-10">지도</span>
                            <p style="font-size: 12px; margin-top: 20px; color: #7987a1;">
                                검색버튼을 클릭해서
                                <br />
                                주소를 입력해주세요.
                            </p>
                        </div>
                    </div>
                    <div class="form-horizontal margin-top-20">
                        <button type="button" id="btnMoveRegister" class="btn btn-primary pull-right">계속 등록</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<section layout:fragment="script">
    <script th:inline="javascript">
    </script>
    <script th:replace="layouts/fragments :: postcode"></script>
    <script th:replace="layouts/fragments :: kakaoMaps"></script>
    <script src="/static/js/realestate/realestate_list.js" th:src="@{/js/realestate/realestate_list.js}"></script>
</section>
</body>
</html>
