<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <div th:replace="layouts/utilFragments::navigator('/real-estate', '매물 관리', '매물 목록')"></div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="callout callout-info">
                        <form name="frmSearch">
                            <input type="hidden" name="page" th:value="${condition.page}" />
                            <input type="hidden" name="size" th:value="${condition.size}" />
                            <div class="col-12" style="margin-bottom: 25px;"><h5><i class="fa fa-building"></i> 매물관리</h5></div>
                            <div class="col-12 display-flex-row sub-line">
                                <div class="col-md-1" style="padding-top: 5px; padding-left: 30px;">
                                    <label class="search-label line-center">위치</label>
                                </div>
                                <div class="col-md-11 display-flex-row">
                                    <select class="form-control form-control-sm custom-select col-md-2 margin-right-4" name="sido">
                                        <option>시도 선택</option>
                                        <th:block th:if="${not #lists.isEmpty(areaList)}" th:each="area: ${areaList}">
                                            <option th:id="${area.areaId}" th:value="${area.areaId}" th:text="${area.name}"></option>
                                        </th:block>
                                    </select>
                                    <select class="form-control form-control-sm custom-select col-md-2 margin-right-4" name="gungu">
                                        <option>구군 선택</option>
                                    </select>
                                    <select class="form-control form-control-sm custom-select col-md-2 margin-right-4" name="dong">
                                        <option>동 선택</option>
                                    </select>
                                    <select class="form-control form-control-sm custom-select col-md-1 margin-right-4" name="landType">
                                        <option value="general">일반</option>
                                        <option value="mountain">산</option>
                                    </select>
                                    <input type="text" class="form-control col-md-1 margin-right-4 height-select" name="bun" placeholder="번" />
                                    <input type="text" class="form-control col-md-1 height-select" name="ji" placeholder="지" />
                                </div>
                            </div>
                            <div class="col-md-12 form-group display-flex-row sub-line">
                                <div class="col-md-1" style="padding-left: 30px;">
                                    <label class="search-label line-center">진행단계</label>
                                </div>
                                <div class="col-md-3 display-flex-row">
                                    <select class="form-control form-control-sm custom-select col-md-6" name="processType">
                                        <option>전체</option>
                                        <option>준비</option>
                                        <option>작업중</option>
                                        <option>완료</option>
                                        <option>보류</option>
                                        <option>매각전</option>
                                        <option>매각</option>
                                    </select>
                                </div>
                                <div class="col-md-1" style="padding-left: 30px;">
                                    <label class="search-label line-center">팀 선택</label>
                                </div>
                                <div class="col-md-3 display-flex-row">
                                    <select class="form-control form-control-sm custom-select col-md-6" name="team">
                                        <option>전체</option>
                                    </select>
                                </div>
                                <div class="col-md-1" style="padding-left: 30px;">
                                    <label class="search-label line-center">관리자 선택</label>
                                </div>
                                <div class="col-md-3 display-flex-row">
                                    <select class="form-control form-control-sm custom-select col-md-6" name="admin">
                                        <option>전체</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 form-group display-flex-row sub-line">
                                <div class="col-md-1" style="padding-left: 30px;">
                                    <label class="search-label line-center">매매/전세가</label>
                                </div>
                                <div class="col-md-3 display-flex-row">
                                    <input type="text" class="form-control col-md-6 height-select margin-right-4" placeholder="만원" />
                                    ~&nbsp;
                                    <input type="text" class="form-control col-md-6 height-select" placeholder="만원" />
                                </div>
                                <div class="col-md-1" style="padding-left: 30px;">
                                    <label class="search-label line-center">보증금</label>
                                </div>
                                <div class="col-md-3 display-flex-row">
                                    <input type="text" class="form-control col-md-6 height-select margin-right-4" placeholder="만원" />
                                    ~&nbsp;
                                    <input type="text" class="form-control col-md-6 height-select" placeholder="만원" />
                                </div>
                                <div class="col-md-1" style="padding-left: 30px;">
                                    <label class="search-label line-center">임대료</label>
                                </div>
                                <div class="col-md-3 display-flex-row">
                                    <input type="text" class="form-control col-md-6 height-select margin-right-4" placeholder="만원" />
                                    ~&nbsp;
                                    <input type="text" class="form-control col-md-6 height-select" placeholder="만원" />
                                </div>
                            </div>
                            <div class="col-md-12 form-group display-flex-row sub-line">
                                <div class="col-md-1" style="padding-left: 30px;">
                                    <label class="search-label line-center">전용/공급</label>
                                </div>
                                <div class="col-md-3 display-flex-row">
                                    <input type="text" class="form-control col-md-6 height-select margin-right-4" placeholder="평" />
                                    ~&nbsp;
                                    <input type="text" class="form-control col-md-6 height-select" placeholder="평" />
                                </div>
                                <div class="col-md-1" style="padding-left: 30px;">
                                    <label class="search-label line-center">연면적</label>
                                </div>
                                <div class="col-md-3 display-flex-row">
                                    <input type="text" class="form-control col-md-6 height-select margin-right-4" placeholder="평" />
                                    ~&nbsp;
                                    <input type="text" class="form-control col-md-6 height-select" placeholder="평" />
                                </div>
                                <div class="col-md-1" style="padding-left: 30px;">
                                    <label class="search-label line-center">대지면적</label>
                                </div>
                                <div class="col-md-3 display-flex-row">
                                    <input type="text" class="form-control col-md-6 height-select margin-right-4" placeholder="평" />
                                    ~&nbsp;
                                    <input type="text" class="form-control col-md-6 height-select" placeholder="평" />
                                </div>
                            </div>
                            <div class="col-12 display-flex-row line">
                                <div class="col-8"></div>
                                <div class="col-4">
                                    <div class="col-12">
                                        <button type="button" id="btnReset" class="btn btn-sm btn-success float-right"><i class="fa fa-refresh"></i>
                                            초기화
                                        </button>
                                        <button type="submit" class="btn btn-sm btn-default float-right" style="margin-right: 5px;">
                                            <i class="fa fa-search"></i> 검색
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card" style="border-left: 5px solid #117a8b;">
                        <div class="card-header">
                            <h4 class="card-title">총</h4>(&nbsp;<span>0</span>개&nbsp;)
                            <div class="card-tools float-right">
                                <select class="form-control" id="limit">
                                    <option value="10" th:selected="${condition.size} == 10 ? selected ">10개</option>
                                    <option value="20" th:selected="${condition.size} == 20 ? selected ">20개</option>
                                    <option value="30" th:selected="${condition.size} == 30 ? selected ">30개</option>
                                    <option value="50" th:selected="${condition.size} == 50 ? selected ">50개</option>
                                    <option value="100" th:selected="${condition.size} == 100 ? selected ">100개</option>
                                    <option value="300" th:selected="${condition.size} == 300 ? selected ">300개</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <table class="table table-striped projects">
                                    <thead>
                                    <tr>
                                        <th style="width: 5%;">
                                            <label class="margin-bottom-0">
                                                <input type="checkbox" class="checkElement chkAll" name="checkAll" th:data-children="numbers">
                                            </label>
                                        </th>
                                        <th>진행구분</th>
                                        <th>건물명</th>
                                        <th>용도</th>
                                        <th>담당자</th>
                                        <th>주소</th>
                                        <th>등록일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${not #lists.isEmpty(pages.content)}" th:each="item, status : ${pages.content}">
                                        <td>
                                            <label class="margin-bottom-0">
                                                <input type="checkbox" class="checkElement chkAll" name="numbers" th:value="${item.realEstateId}">
                                            </label>
                                        </td>
                                        <td th:text="${'-'}"></td>
                                        <td>
                                            <a th:href="|/real-estate/${item.realEstateId}/edit|" th:text="${item.buildingName != null ? item.buildingName : '작성중'}"></a>
                                        </td>
                                        <td th:text="${item.usageType != null ? item.usageType.name : ''}"></td>
                                        <td th:text="${item.managerName}"></td>
                                        <td th:text="${item.address + ' ' + (item.addressDetail != null ? item.addressDetail : '')}"></td>
                                        <td th:text="${#temporals.format(item.createdAt, 'YYYY-MM-dd HH:mm:ss')}"></td>
                                    </tr>
                                    <tr th:unless="${not #lists.isEmpty(pages.content)}">
                                        <td class="text-center" colspan="7">등록된 매물이 없습니다.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-12" style="padding: 10px; margin-top: 10px;">
                            <button id="btnRealEstateModal" class="btn btn-sm btn-primary float-right" style="margin-right: 20px; margin-bottom: 20px;"><i class="fa fa-plus"></i> 신규매물등록</button>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center">
                                    <!-- 페이징 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade margin-top-200" tabindex="-1" role="dialog" id="realEstateModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title control-label" style="font-weight: bold;">매물 등록</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-dialog-scrollable display-flex-column" style="max-height: 1030px; height: 100%; overflow: auto;">
                    <div class="form-horizontal col-md-12 no-left-padding display-flex-row">
                        <div class="col-md-8 no-left-padding">
                            <form class="form-horizontal" name="frmMoveRegister">
                                <input type="hidden" name="bCode" />
                                <input type="hidden" name="hCode" />
                                <table class="table table-borderless">
                                    <tbody>
                                    <tr>
                                        <td class="col-md-6" colspan="6">
                                            <label class="text-label no-left-padding">매물종류</label>
                                            <select class="form-control" name="teamId">
                                                <option value="">선택</option>
                                            </select>
                                        </td>
                                        <td class="col-md-6" colspan="6">
                                            <label class="text-label no-left-padding">거래종류</label>
                                            <select class="form-control" name="roleName">
                                                <option value="">선택</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-12 no-left-padding" colspan="12">
                                            <div class="col-md-12">
                                                <label class="text-label">주소</label>
                                            </div>
                                            <div class="col-md-12 display-flex-row no-left-padding">
                                                <input type="text" class="form-control form-control-sm col-sm-9" name="address" readonly />
                                                <!--
                                                <select class="form-control col-sm-3 margin-right-4" name="landType">
                                                    <option value="">시도선택</option>
                                                </select>
                                                <select class="form-control col-sm-3 margin-right-4" name="landType">
                                                    <option value="">구군 선택</option>
                                                </select>
                                                <select class="form-control col-sm-3 margin-right-4" name="landType">
                                                    <option value="">동 선택</option>
                                                </select>
                                                -->
                                                <button type="button" class="btn btn-sm btn-default col-sm-3 btnAddress" style="margin-left: 5px;"> 주소검색</button>
                                            </div>
                                            <div class="col-md-12 display-flex-row no-left-padding margin-top-8">
                                                <select class="form-control col-md-4 margin-right-4" name="landType">
                                                    <option value="general">일반</option>
                                                    <option value="mountain">산</option>
                                                </select>
                                                <input type="text" class="form-control col-md-4 margin-right-4" name="bun" placeholder="번" />
                                                <input type="text" class="form-control col-md-4" name="ji" placeholder="지" />
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div id="map" class="col-md-4 text-alien-center" style="background-color: #eeeeee; border-radius: 20px; padding: 80px 20px 20px;">
                            <span class="margin-bottom-10">지도</span>
                            <p style="font-size: 12px; margin-top: 20px; color: #7987a1;">
                                검색버튼을 클릭해서
                                <br />
                                주소를 입력해주세요.
                            </p>
                        </div>
                    </div>
                    <div class="form-horizontal margin-top-20">
                        <button type="button" id="btnMoveRegister" class="btn btn-primary pull-right">계속 등록</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<section layout:fragment="script">
    <script th:inline="javascript">
    </script>
    <script th:replace="layouts/fragments :: postcode"></script>
    <script th:replace="layouts/fragments :: kakaoMaps"></script>
    <script src="/static/js/realestate/realestate_list.js" th:src="@{/js/realestate/realestate_list.js}"></script>
</section>
</body>
</html>
