<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/print-layout}">
<head>
    <style>
        @media print {
            body {
                margin: 0 !important;
                padding: 0;
                visibility: hidden;
                -webkit-print-color-adjust: exact !important;
                color-adjust: exact !important;
            }

            .print-content {
                display: block;
                visibility: visible;
                height: 760px !important;
            }

            .print-hidden {
                display: none !important;
                visibility: hidden;
            }

            .logo {
                visibility: visible !important;
            }

            .cover-body {
                padding: 40px 0 !important;
                width: 100% !important;
            }

            .card-property .card-img {
                height: 650px !important;
            }

            .card-property .card-content {
                height: 650px !important;
            }

            .card-property .table-unit-1 {
                height: 200px;
            }

            .card-property .table-unit-2 {
                height: 250px;
            }

            .card-property .table-unit-3 {
                height: 200px;
            }

            .card-location #map {
                /* kakao 지도 깨짐 방지 */
                contain: strict;

                /*height: 600px !important;*/
            }

            .land-info-section #landMap {
                /* kakao 지도 깨짐 방지 */
                contain: strict;

                width: 100% !important;
                /*height: 600px !important;*/
            }

            .floor-info-section .table-head {
                background-color:#E2E6ED !important; -webkit-print-color-adjust:exact;
            }

            .land-info-section .table-head {
                background-color:#E2E6ED !important; -webkit-print-color-adjust:exact;
            }

            .land-info-section {
                vertical-align: middle !important;
            }
        }

        @page {
            size: landscape; /* 페이지 방향을 가로(landscape)로 설정합니다. */
            margin: 0;
        }

        .cover-body {
            padding: 30px 20px;
        }

        .card-content {
            width: 100%;
        }

        .print-content {
            width: 1100px;
            height: 650px;
            background-color: #fff;
            border-radius: 10px;
            margin: auto;
        }

        .print-distribute-line {
            break-after: page;
        }

        .print-button-section {
            position: fixed;
            top: 70px;
            right: 100px;
            width: 150px;
            height: 100px;
            border-radius: 5px;
        }

        .print-button {
            /*margin: 10px 0 auto;*/
        }

        .cover {
            background-image: linear-gradient(
                    rgba(255, 255, 255, 0.2),
                    rgba(0, 0, 0, 0.8)
            ), url('/images/print/33.jpeg');
            background-size: cover;
        }

        .print-header {
            position: absolute;
            top: 0;
            border: 5px solid darkblue;
            width: 100%;
        }

        .print-footer {
            position: absolute;
            bottom: 0;
            border: 3px solid #FEB30B;
            background-color: #FEB30B;
            width: 100%;
        }

        .print-body {
            height: 100%;
        }

        .print-button-section {
            z-index: 999;
        }

        .print-section {
            position: relative;
        }

        .print-content {
            position: relative;
        }

        .building-name {
            color: darkblue;
            font-weight: bold;
            font-size: 42px;
        }

        .address-line {
            border: 2px solid #FEB30B;
            width: 300px;
            height: 2px;
            float: right;
        }

        .two-section-header {
            color: darkblue;
            font-weight: bold;
            font-size: 20px;
        }

        .print-line {
            padding: 20px;
            /*break-after: page;*/
        }

        .print-content table td {
            padding: 5px;
            font-size: 10px;
            text-align: center;
        }

        .table-label {
            font-size: 18px;
            font-weight: bold;
            display: flex;
            text-align: center;
            align-items: center;
        }

        .min-width-table td {
            min-width: 105px;
        }

        .print-content-title {
            height: 50px;
        }

        .print-content-title h3 {
            color: darkblue;
            font-weight: bold;
            padding-left: 30px;
            padding-top: 10px;
        }

        .print-content-title span {
            padding-left: 10px;
            padding-top: 18px;
            color: #BDBDBD;
        }

        .print-title-line {
            background-color: darkblue;
            height: 5px;
        }

        .construct-table th {
            text-align: center;
            width: 90px;
            font-size: 10px;
            background-color: #E2E6ED;
            padding: 8px;
        }

        .construct-table td {
            text-align: center;
            width: 90px;
            font-size: 10px;
            padding: 8px;
        }

        .park-table th {
            text-align: center;
            width: 50px !important;
            font-size: 10px;
            background-color: #E2E6ED;
            padding: 8px;
        }

        .park-table td {
            text-align: center;
            font-size: 10px;
            padding: 8px;
        }

        .elv-table th {
            text-align: center;
            width: 100px !important;
            font-size: 10px;
            background-color: #E2E6ED;
            padding: 8px;
        }

        .elv-table td {
            text-align: center;
            font-size: 10px;
            padding: 8px;
        }

        .table-head {
            background-color: #E2E6ED;
        }

        th, td {
            vertical-align: middle !important; /* 세로 가운데 정렬을 지정합니다. */
        }
    </style>
    <title>[[${dto.pdfTitle}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="print-section">
        <div class="print-button-section">
            <button class="btn btn-primary btnPrint print-button">프린트</button>
        </div>

        <div class="print-line"></div>

        <div class="print-content print-distribute-line" style="position: relative;">
            <div class="col-md-2 logo" style="position: absolute; top:15px; right:-40px;">
                <img src="/images/icon/icon.png" class="col-sm-12 no-left-padding" style="width: 120px; height:100px;"/>
            </div>
            <div class="print-header"></div>
            <div class="cover-body row col-md-12 padding-20">
                <div class="col-md-12">
                    <div class="line-center right-align margin-top-250">
                        <h4 class="building-name" contenteditable="true" style="width: auto; display: inline-block; border-bottom: 4px solid #FEB30B; padding-bottom: 10px;">[[${not #strings.isEmpty(dto.buildingName) ? dto.buildingName : '건물명'}]]</h4>
                        <h5 style="margin-top: 10px;" contenteditable="true" >[[${dto.address}]]</h5>
                    </div>
                </div>
            </div>
            <div class="print-footer text-alien-center">
                <span>
                   <b>제이디부동산 중개법인주식회사 | 서울시 강남구 도산대로 149, 진우빌딩 3층 |</b>  중개업등록번호 11680-2022-00432 | 대표 번호 02-514-7754
                </span>
            </div>
        </div>

        <div class="print-line"></div>

        <div class="print-content print-distribute-line">
            <div class="print-header"></div>
            <div class="cover-body print-body row col-md-12 padding-20">
                <div class="col-md-6 right-align" style="padding-top: 20px;">
                    <span class="two-section-header">
                        <span class="font-size-30">Disclaimer</span>
                        <span class="font-size-30" style="font-weight: normal;">|</span>
                    </span>
                </div>
                <div class="col-md-6" style="padding-top: 20px;">
                    <div class="padding-10 font-size-13" contenteditable="true" style="height: 90%; color: #828a92;">
                        본 Teaster Memorandum(이하 "TM) 은 본 건 매각에 매입 또는 투자를 검토하고 있는 잠재적 매수자에게
                        투자 결정 등의 행위에 참고가 될 수 있는 기본적 정보를 제공할 목적으로 작성되었습니다.
                        <br/>
                        본 TM 에 제시된 내용들은 매도자가 제공한 자료를 근거로 작성되었으나, 잠재적 매수자가 요구하는 모든 자료를
                        포함하고 있지 않으므로 매수자는 본 건 투자와 관련하여 자체적인 조사와 분석을 요합니다.
                        <br/>
                        본 TM 은 추후 업무 내용에 따라 수정 혹은 변경될 수 있고 매도자는 본 TM 에 구속되거나 어떠한 책임도 부담하지 않습니다.
                        <br/>
                        따라서 본 TM 을 토대로 진행된 매수자의 직 간접적 손해에 대하여 어떠한 책임도 부담하지 않으며, 법적 책임 소재나 분쟁의
                        증빙자료로 활용될 수 없습니다.
                        <br/>
                        본 TM 은 고유한 목적 외 사전 서면동의 없이 전부 또는 일부, 요약본이 복사되거나 제3자에게 공개 또는 인용될 수 없습니다.
                        <br/>
                        <br/>
                        본 자료와 관련하여 문의사항이 있으시면 Contact Points 상의 담당자에게 연락 주시기 바랍니다.
                    </div>
                    <div class="row col-md-12 padding-10" style="height: 10%;">
                        <div class="col-md-2 font-size-12 padding-10" style="border-right: 1px solid deepskyblue">
                            Contact
                        </div>
                        <div class="col-md-10 font-size-12" contenteditable="true">
                            정다운 이사 | 010 7345 7754 | dawoon.jung@jd-realty.co.kr
                            <br />
                            신상현 이사 | 010 2604 9088 | sanghyun.shin@jd-realty.co.kr
                        </div>
                    </div>
                </div>
            </div>
            <div class="print-footer text-alien-center"></div>
        </div>

        <div class="print-line"></div>

        <div class="print-content print-distribute-line card-property">
            <div class="row print-content-title">
                <h3>자산 개요</h3>
                <span>Property overview</span>
            </div>
            <div class="print-title-line"></div>
            <div class="cover-body print-body row col-md-12 padding-20" style="height: 600px; padding-top: 10px;">
                <div class="col-md-6 height-100 padding-10 card-img">
                    <th:block th:if="${not #strings.isEmpty(dto.imgUrl)}">
                        <img th:src="${dto.imgUrl}" style="width: 100%; height: 100%;">
                    </th:block>
                    <th:block th:unless="${not #strings.isEmpty(dto.imgUrl)}">
                        <img th:src="@{/images/no-image-found.jpeg}" style="width: 100%; height: 100%;">
                    </th:block>
                </div>
                <div class="col-md-6 display-flex-column height-100 padding-10 card-content">
                    <div class="display-flex-row table-unit table-unit-1" style="position: relative;">
                        <div class="print-hidden" style="position: absolute; top:5px; right:-15px;">
                            <i class="fa fa-trash-o btnRemoveTable" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-1 table-label" style="background-color: #E6E6E6; border: 1px solid #D8D8D8;">
                            토
                            지
                            정
                            보
                        </div>
                        <div class="col-md-11">
                            <table class="table table-bordered min-width-table" style="margin-bottom: 0; height: 100%;">
                                <tr>
                                    <td>소재지</td>
                                    <td colspan="2">
                                        [[${dto.addressStr}]]
                                    </td>
                                </tr>
                                <tr>
                                    <td>용도지역</td>
                                    <td colspan="2">
                                        [[${landInfo.prposArea1Nm}]]
                                    </td>
                                </tr>
                                <tr>
                                    <td>지목</td>
                                    <td colspan="2">[[${landInfo.lndcgrCodeNm}]]</td>
                                </tr>
                                <tr>
                                    <td>공시지가</td>
                                    <td>
                                        <th:block th:if="${dto.sumUnitPblntfPclnd != null && dto.sumUnitPblntfPclnd > 0}">
                                            [[${#numbers.formatDecimal(dto.sumUnitPblntfPclnd / 10000, 0, 'COMMA', 0, 'POINT')}]]만원/㎡
                                        </th:block>
                                    </td>
                                    <td>
                                        <th:block th:if="${dto.sumUnitPblndfPclndByPyung != null && dto.sumUnitPblndfPclndByPyung > 0}">
                                            [[${#numbers.formatDecimal(dto.sumUnitPblndfPclndByPyung / 10000, 0, 'COMMA', 0, 'POINT')}]]만원/평
                                        </th:block>
                                    </td>
                                </tr>
                                <tr>
                                    <td>대지면적</td>
                                    <td>[[${#numbers.formatDecimal(dto.sumLndpclAr, 0, 'COMMA', 2, 'POINT')}]]㎡</td>
                                    <td>[[${#numbers.formatDecimal(dto.sumLndpclArByPyung, 0, 'COMMA', 2, 'POINT')}]]평</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="display-flex-row table-unit table-unit-2" style="position: relative; margin-top: 10px;">
                        <div class="print-hidden" style="position: absolute; top:5px; right:-15px;">
                            <i class="fa fa-trash-o btnRemoveTable" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-1 table-label" style="background-color: #E6E6E6; border: 1px solid #D8D8D8;">
                            건
                            축
                            물
                            정
                            보
                        </div>
                        <div class="col-md-11">
                            <table class="table table-bordered min-width-table" style="margin-bottom: 0; height: 100%;">
                                <tr>
                                    <td style="width: 20%;">대장상 대지면적</td>
                                    <td style="width: 40%;">[[${#numbers.formatDecimal(constructInfo.platArea, 0, 'COMMA', 2, 'POINT')}]]㎡</td>
                                    <td style="width: 40%;">[[${#numbers.formatDecimal(constructInfo.platAreaByPyung, 0, 'COMMA', 2, 'POINT')}]]평</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">연 면 적</td>
                                    <td style="width: 40%;">[[${#numbers.formatDecimal(constructInfo.totArea, 0, 'COMMA', 2, 'POINT')}]]㎡</td>
                                    <td style="width: 40%;">[[${#numbers.formatDecimal(constructInfo.totAreaByPyung, 0, 'COMMA', 2, 'POINT')}]]평</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">지상면적</td>
                                    <td style="width: 40%;">[[${#numbers.formatDecimal(constructInfo.vlRatEstmTotArea, 0, 'COMMA', 2, 'POINT')}]]㎡</td>
                                    <td style="width: 40%;">[[${#numbers.formatDecimal(constructInfo.vlRatEstmTotAreaByPyung, 0, 'COMMA', 2, 'POINT')}]]평</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">건축면적</td>
                                    <td style="width: 40%;">[[${#numbers.formatDecimal(constructInfo.archArea, 0, 'COMMA', 2, 'POINT')}]]㎡</td>
                                    <td style="width: 40%;">[[${#numbers.formatDecimal(constructInfo.archAreaByPyung, 0, 'COMMA', 2, 'POINT')}]]평</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">준공년도</td>
                                    <td style="width: 40%;">[[${dto.useAprYear}]]년</td>
                                    <td style="width: 40%;">[[${dto.useAprMonth}]]월</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">건물규모</td>
                                    <td colspan="2">지상 [[${constructInfo.grndFlrCnt}]]층 / 지하 [[${constructInfo.ugrndFlrCnt}]]층</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">건폐 / 용적율</td>
                                    <td style="width: 40%;">[[${constructInfo.bcRat}]]%</td>
                                    <td style="width: 40%;">[[${constructInfo.vlRat}]]%</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">주차 / 승강기</td>
                                    <td style="width: 40%;">
                                        자주식 [[${constructInfo.sumAutoUtCnt}]]대 /
                                        기계식 [[${constructInfo.sumMechUtCnt}]]대
                                    </td>
                                    <td style="width: 40%;">
                                        승용 [[${constructInfo.rideUseElvtCnt}]]대 /
                                        비상용 [[${constructInfo.emgenUseElvtCnt}]]대
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">구조</td>
                                    <td style="width: 40%;">[[${constructInfo.strctCdNm}]]</td>
                                    <td style="width: 40%;">[[${constructInfo.mainPurpsCdNm}]]</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="display-flex-row table-unit table-unit-3" style="position: relative; margin-top: 10px;">
                        <div class="print-hidden" style="position: absolute; top:5px; right:-15px;">
                            <i class="fa fa-trash-o btnRemoveTable" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-1 table-label" style="background-color: #E6E6E6; border: 1px solid #D8D8D8;">
                            금
                            액
                            정
                            보
                        </div>
                        <div class="col-md-11">
                            <table class="table table-bordered min-width-table" style="margin-bottom: 0; height: 100%;">
                                <tr>
                                    <td>보증금</td>
                                    <td>[[${priceInfo.guaranteePrice > 0 ? #numbers.formatDecimal(priceInfo.guaranteePrice, 0, 'COMMA', 0, 'POINT') + '만원' : '-'}]]</td>
                                    <td>수익률(관포)</td>
                                    <td>[[${priceInfo.revenueRate > 0 ? #numbers.formatDecimal(priceInfo.revenueRate, 0, 'COMMA', 2, 'POINT') + '%' : '-'}]]</td>
                                </tr>
                                <tr>
                                    <td>임대료</td>
                                    <td>[[${priceInfo.rentMonth > 0 ? #numbers.formatDecimal(priceInfo.rentMonth, 0, 'COMMA', 0, 'POINT') + '만원' : '-'}]]</td>
                                    <td>관리비</td>
                                    <td>[[${priceInfo.management > 0 ? #numbers.formatDecimal(priceInfo.management, 0, 'COMMA', 0, 'POINT') + '만원' : '-'}]]</td>
                                </tr>
                                <tr>
                                    <td>연면적 평단가</td>
                                    <td style="color: darkred; font-weight: bold;">[[${priceInfo.buildingPyungUnitPrice > 0 ? #numbers.formatDecimal(priceInfo.buildingPyungUnitPrice, 0, 'COMMA', 0, 'POINT') + '만원/평' : '-'}]]</td>
                                    <td>토지 평단가</td>
                                    <td style="color: darkred; font-weight: bold;">[[${priceInfo.landPyungUnitPrice > 0 ? #numbers.formatDecimal(priceInfo.landPyungUnitPrice, 0, 'COMMA', 0, 'POINT') + '만원/평': '-'}]]</td>
                                </tr>
                                <tr>
                                    <td>매매가</td>
                                    <td colspan="3" style="color: darkblue; font-weight: bold; font-size: 13px;">[[${priceInfo.salePrice > 0 ? #numbers.formatDecimal(priceInfo.salePrice, 0, 'COMMA', 0, 'POINT') + '억원' : ''}]]</td>
                                </tr>
                                <tr>
                                    <td style="height: 56px; max-height: 56px; resize: none;">비고</td>
                                    <td id="characterInfo" colspan="3" contenteditable="true" style="color: darkblue; font-weight: bold; text-align: left; height: 56px; max-height: 56px; resize: none;">
                                        [[${dto.characterInfo}]]
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="print-footer text-alien-center"></div>
        </div>

        <div class="print-line"></div>

        <div class="print-content print-distribute-line floor-info-section">
            <div class="row print-content-title">
                <h3>건축물 개요</h3>
                <span>Building Information</span>
            </div>
            <div class="print-title-line"></div>
            <div class="cover-body print-body row col-md-12" style="height: 600px; padding-top: 10px;">
                <div class="col-md-7 padding-20 height-100 card-content">
                    <div class="margin-bottom-10">
                        <h5 class="col-md-9 no-left-padding" style="color: #445FB9; vertical-align: bottom; font-size:15px; font-weight:bold;">집합건축물[표제부]</h5>
                    </div>

                    <div class="margin-bottom-10">
                        <table class="table table-bordered min-width-table construct-table">
                            <tbody>
                            <tr>
                                <th class="table-head">대지위치</th>
                                <td colspan="3">[[${dto.address}]]</td>
                                <th class="table-head">지번</th>
                                <td>
                                    [[${dto.bun}]]
                                    <th:block th:if="${not #strings.isEmpty(dto.ji)}">
                                        -[[${dto.ji}]]
                                    </th:block>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-head">용도지역</th>
                                <td>
                                    <th:block th:if="${landInfo != null}">
                                        [[${landInfo.prposArea1Nm}]]
                                    </th:block>
                                </td>
                                <th class="table-head">용도지구</th>
                                <td></td>
                                <th class="table-head">구역</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="table-head">대지면적</th>
                                <td>
                                    <th:block th:if="${landInfo != null}">
                                        [[${landInfo.lndpclAr}]]㎡
                                    </th:block>
                                </td>
                                <th class="table-head">연면적</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.totArea}]]㎡
                                    </th:block>
                                </td>
                                <th class="table-head">명칭및번호</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="table-head">건축면적</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.archArea}]]㎡
                                    </th:block>
                                </td>
                                <th class="table-head">용적률 산정용<br />연면적</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.totArea}]]㎡
                                    </th:block>
                                </td>
                                <th class="table-head">건축물수</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="table-head">건폐율</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.bcRat}]]㎡
                                    </th:block>
                                </td>
                                <th class="table-head">용적률</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.vlRat}]]㎡
                                    </th:block>
                                </td>
                                <th class="table-head">층호수</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.houseHoldName}]]
                                    </th:block>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-head">주용도</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.mainPurpsCdNm}]]
                                    </th:block>
                                </td>
                                <th class="table-head">주구조<br />지붕구조</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.strctCdNm}]]
                                    </th:block>
                                </td>
                                <th class="table-head">부속건축물</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="table-head">허가일자</th>
                                <td></td>
                                <th class="table-head">착공일자</th>
                                <td></td>
                                <th class="table-head">사용승인일자</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.useAprDate}]]
                                    </th:block>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-head">특이사항</th>
                                <td colspan="5"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="display-flex-row">
                        <h5 class="col-md-12 no-left-padding" contenteditable="true" style="color: #445FB9; vertical-align: bottom; font-size:15px; font-weight:bold;">주차장</h5>
                    </div>

                    <div class="no-left-padding margin-bottom-10 col-md-12">
                        <table class="table table-bordered park-table">
                            <tbody>
                            <tr>
                                <th class="table-head">옥내<br />기계식</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.indrMechUtcnt}]]
                                    </th:block>
                                </td>
                                <th class="table-head">옥내<br />자주식</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.indrAutoUtcnt}]]
                                    </th:block>
                                </td>
                                <th class="table-head">옥외<br />기계식</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.oudrMechUtcnt}]]
                                    </th:block>
                                </td>
                                <th class="table-head">옥외<br />자주식</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.oudrAutoUtcnt}]]
                                    </th:block>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="display-flex-row">
                        <h5 class="col-md-12 no-left-padding" contenteditable="true" style="color: #445FB9; vertical-align: bottom; font-size:15px; font-weight:bold;">승강기</h5>
                    </div>

                    <div class="no-left-padding col-md-12">
                        <table class="table table-bordered elv-table">
                            <tbody>
                            <tr>
                                <th class="table-head">승용</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.indrMechUtcnt}]]대
                                    </th:block>
                                </td>
                                <th class="table-head">비상용</th>
                                <td>
                                    <th:block th:if="${constructInfo != null}">
                                        [[${constructInfo.indrAutoUtcnt}]]대
                                    </th:block>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-5 display-flex-column height-100 padding-top-20 card-content floor-price-section">
                    <th:block th:if="${constructFloorList.size() <= 15}">
                        <div class="margin-bottom-3">
                            <h5 class="col-md-9 no-left-padding" style="color: #445FB9; vertical-align: bottom; font-size:15px; font-weight:bold;">층별정보</h5>
                        </div>

                        <div class="no-left-padding col-md-12">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="table-head" style="width: 15%;">층별</td>
                                    <td class="table-head" style="width: 35%;">용도</td>
                                    <td class="table-head" style="width: 25%;">면 적 (㎡)</td>
                                    <td class="table-head" style="width: 25%;">면 적 (평)</td>
                                </tr>
                                <th:block th:if="${#lists.isEmpty(constructFloorList)}">
                                    <tr>
                                        <td class="text-alien-center" colspan="4">층별정보가 없습니다.</td>
                                    </tr>
                                </th:block>
                                <th:block th:unless="${#lists.isEmpty(constructFloorList)}" th:each="floor, status : ${constructFloorList}">
                                    <tr>
                                        <td>[[${floor.flrNoNm}]]</td>
                                        <td>[[${floor.etcPurps}]]</td>
                                        <td th:text="${floor.area == 0 ? 0 : #numbers.formatDecimal(floor.area, 0, 'COMMA', 2, 'POINT')}"></td>
                                        <td th:text="${floor.areaPy == 0 ? 0 : #numbers.formatDecimal(floor.areaPy, 0, 'COMMA', 2, 'POINT')}"></td>
                                    </tr>
                                </th:block>
                                <tr>
                                    <td style="font-weight: bold;">합계</td>
                                    <td style="font-weight: bold;">-</td>
                                    <td class="totalLndpclAr" style="font-weight: bold;">0</td>
                                    <td class="totalLndpclArByPyung" style="font-weight: bold;">0</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </th:block>
                </div>
            </div>

            <div class="print-footer text-alien-center"></div>
        </div>

        <th:block th:if="${constructFloorList.size() > 15}">

            <div class="print-line"></div>

            <div class="print-content print-distribute-line floor-price-section" >

                <div class="row print-content-title">
                    <h3>건축물 개요</h3>
                    <span>Building Information</span>
                </div>
                <div class="print-title-line"></div>
                <div class="cover-body print-body row col-md-12" style="height: 600px; padding-top: 10px;">
                    <div class="col-md-6 display-flex-column height-100 padding-top-20 card-content">
                        <div class="margin-bottom-3">
                            <h5 class="col-md-9 no-left-padding" style="color: #445FB9; vertical-align: bottom; font-size:15px; font-weight:bold;">층별정보-1</h5>
                        </div>

                        <div class="no-left-padding col-md-12">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="table-head" style="width: 15%;">층별</td>
                                    <td class="table-head" style="width: 35%;">용도</td>
                                    <td class="table-head" style="width: 25%;">면 적 (㎡)</td>
                                    <td class="table-head" style="width: 25%;">면 적 (평)</td>
                                </tr>
                                <th:block th:unless="${#lists.isEmpty(constructFloorList)}" th:if="${status.index <= 15}" th:each="floor, status : ${constructFloorList}">
                                    <tr>
                                        <td>[[${floor.flrNoNm}]]</td>
                                        <td>[[${floor.etcPurps}]]</td>
                                        <td th:text="${floor.area == 0 ? 0 : #numbers.formatDecimal(floor.area, 0, 'COMMA', 2, 'POINT')}"></td>
                                        <td th:text="${floor.areaPy == 0 ? 0 : #numbers.formatDecimal(floor.areaPy, 0, 'COMMA', 2, 'POINT')}"></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 display-flex-column height-100 padding-top-20 card-content">
                        <div class="margin-bottom-3">
                            <h5 class="col-md-9 no-left-padding" style="color: #445FB9; vertical-align: bottom; font-size:15px; font-weight:bold;">층별정보-2</h5>
                        </div>

                        <div class="no-left-padding col-md-12">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="table-head" style="width: 15%;">층별</td>
                                    <td class="table-head" style="width: 35%;">용도</td>
                                    <td class="table-head" style="width: 25%;">면 적 (㎡)</td>
                                    <td class="table-head" style="width: 25%;">면 적 (평)</td>
                                </tr>
                                <th:block th:unless="${#lists.isEmpty(constructFloorList)}" th:if="${status.index > 15}" th:each="floor, status : ${constructFloorList}">
                                    <th:block th:if="${status.index > 15}">
                                        <tr>
                                            <td>[[${floor.flrNoNm}]]</td>
                                            <td>[[${floor.etcPurps}]]</td>
                                            <td th:text="${floor.area == 0 ? 0 : #numbers.formatDecimal(floor.area, 0, 'COMMA', 2, 'POINT')}"></td>
                                            <td th:text="${floor.areaPy == 0 ? 0 : #numbers.formatDecimal(floor.areaPy, 0, 'COMMA', 2, 'POINT')}"></td>
                                        </tr>
                                    </th:block>
                                </th:block>
                                <tr>
                                    <td style="font-weight: bold;">합계</td>
                                    <td style="font-weight: bold;">-</td>
                                    <td class="totalLndpclAr" style="font-weight: bold;">0</td>
                                    <td class="totalLndpclArByPyung" style="font-weight: bold;">0</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="print-footer text-alien-center"></div>
            </div>

        </th:block>

        <div class="print-line"></div>

        <div class="print-content print-distribute-line card-location" style="height: 750px;">
            <div class="row print-content-title">
                <h3>위치</h3>
                <span>Location</span>
            </div>
            <div class="print-title-line"></div>
            <div class="cover-body print-body row" style="height: 600px; padding-top: 30px;">
                <div class="col-md-12 padding-10 height-100">
                    <div id="map" style="width: 1050px; height: 600px; margin: auto 0;"></div>
                </div>
            </div>
            <div class="print-footer text-alien-center"></div>
        </div>

        <div class="print-line"></div>

        <div class="print-content land-info-section" style="margin-bottom: 10px; height: 700px; ">
            <div class="row print-content-title">
                <h3>토지 조서</h3>
                <span>Land decree</span>
            </div>
            <div class="print-title-line"></div>
            <div class="cover-body print-body row col-md-12 padding-20" style="padding-top: 10px;">
                <div class="col-md-6 padding-10 height-100" style="padding-top:20px;">
                    <div id="landMap" style="width: 100%; height: 600px;"></div>
                </div>
                <div class="col-md-6 display-flex-column height-100 padding-top-10">
                    <table class="table table-bordered line">
                        <tr>
                            <td class="table-head">구분</td>
                            <td class="table-head">지번</td>
                            <td class="table-head">면적(㎡)</td>
                            <td class="table-head">면적(평)</td>
                            <td class="table-head">지목</td>
                            <td class="table-head">공시지가(원/㎡)</td>
                        </tr>
                        <th:block th:unless="${#lists.isEmpty(landInfoList)}" th:each="land, status : ${landInfoList}">
                            <tr>
                                <td>[[${status.index + 1}]]</td>
                                <td>[[${land.address}]]</td>
                                <td>[[${land.lndpclAr}]]</td>
                                <td>[[${land.lndpclArByPyung}]]</td>
                                <td>[[${land.prposArea1Nm}]]</td>
                                <td>[[${#numbers.formatDecimal(landInfo.pblntfPclnd / 10000, 0, 'COMMA', 0, 'POINT')}]]만원/㎡</td>
                            </tr>
                        </th:block>
                        <th:block th:if="${#lists.isEmpty(landInfoList)}">
                            <tr>
                                <td class="text-alien-center" colspan="6">토지정보가 없습니다.</td>
                            </tr>
                        </th:block>
                        <tr>
                            <td colspan="2" style="font-weight: bold;">합계</td>
                            <td class="totalLndpclAr" style="font-weight: bold;">50,179</td>
                            <td class="totalLndpclArByPyung" style="font-weight: bold;">15,179</td>
                            <td style="font-weight: bold;">-</td>
                            <td style="font-weight: bold;">-</td>
                        </tr>
                    </table>

                    <table class="table table-bordered">
                        <tr>
                            <td class="table-head">소재지</td>
                            <td style="text-align: left;">[[${landInfo.address}]]</td>
                        </tr>
                        <tr>
                            <td class="table-head">지목</td>
                            <td style="text-align: left;">[[${landInfo.lndcgrCodeNm}]]</td>
                        </tr>
                        <tr>
                            <td class="table-head">대지면적</td>
                            <td style="text-align: left;">[[${landInfo.lndpclAr}]]㎡</td>
                        </tr>
                        <tr>
                            <td class="table-head">공시지가</td>
                            <td style="text-align: left;">[[${#numbers.formatDecimal(landInfo.pblntfPclnd / 10000, 0, 'COMMA', 0, 'POINT')}]]만원/㎡</td>
                        </tr>
                        <tr>
                            <td class="table-head">다른 법령 등에 따른 지역 지구 등</td>
                            <td style="text-align: left;">[[${landInfo.prposAreaDstrcNmList}]]</td>
                        </tr>
                    </table>

                    <table class="table table-sm table-bordered pblnt-table padding-top-20 font-size-10" style="white-space: nowrap;" th:unless="${#lists.isEmpty(landPriceList)}">
                        <thead>
                        <tr>
                            <th class="text-alien-center table-head">기준년도</th>
                            <th class="text-alien-center table-head">개별공시지가<span class="font-size-8">(원/m)</span></th>
                            <th class="text-alien-center table-head">개별공시지가<span class="font-size-8">(원/py)</span></th>
                            <th class="text-alien-center table-head">증가율<span class="font-size-8">(%)</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="print-footer text-alien-center"></div>
        </div>

<!--        <div class="print-line print-hidden"></div>-->

        <th:block th:if="${not #lists.isEmpty(imgList)}" th:each="item, status : ${imgList}">
            <div class="print-line"></div>

            <div class="print-content">
                <div class="row print-content-title">
                    <h3 contenteditable="true">사진</h3>
                    <span contenteditable="true">photo</span>
                </div>
                <div class="print-title-line"></div>
                <div class="cover-body print-body row padding-20" style="height: 600px; padding-top: 10px;">
                    <div class="col-md-12 padding-10 height-100">
                        <img th:src="${item.fullPath}" style="width: 100%; height: 100%;">
                    </div>
                </div>
                <div class="print-footer text-alien-center"></div>
            </div>

            <div class="print-line"></div>
        </th:block>

    </div>
</div>
<section layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var dto =/*[[${dto}]]*/'';
        var landInfoList =/*[[${landInfoList}]]*/'';
        var constructFloorList =/*[[${constructFloorList}]]*/'';
        var landPriceList =/*[[${landPriceList}]]*/'';
        /*]]>*/
    </script>
    <script th:replace="layouts/fragments :: kakaoMaps"></script>
    <script src="/static/js/realestate/print/print_editor.js" th:src="@{/js/realestate/print/print_editor.js}"></script>
</section>
</body>
</html>
