<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <link rel="stylesheet" type="text/css" href="/node_modules/jquery-minicolors/jquery.minicolors.css" />
    <style>
        .container-fluid input {
            height: 30px !important;
            font-size: 12px;
        }

        .content * {
            font-size: 12px;
        }
    </style>
</head>
<body>
<div layout:fragment="content" th:with="AdminStatus = ${T(io.gig.realestate.domain.admin.types.AdminStatus)}">
    <section class="content" th:with="isModify = ${dto.adminId != null}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 display-flex-column">
                    <div class="card" style="margin-top: 10px;">
                        <form id="frmRegister" class="form-horizontal" name="frmAdminRegister" method="post" th:object="${dto}">
                            <input type="hidden" id="adminId" name="adminId" th:field="*{adminId}" />
                            <input type="hidden" id="emailCheckYn" />
                            <input type="hidden" id="pwValidCheckYn" />
                            <input type="hidden" id="pwEqualCheckYn" />

                            <div class="card-header">
                                <h3 class="card-title">관리자정보</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group col-md-12 display-flex-row checkDuplicate">
                                    <div class="col-2">
                                        <label for="username">이메일</label>
                                    </div>
                                    <div class="col-6 display-flex-column">
                                        <input type="text" id="username" class="form-control valid-fields" name="username" placeholder="이메일을 입력해주세요."
                                               th:field="*{username}" th:readonly="${isModify}" required>
                                        <div class="checkEmailSection"></div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="form-group col-md-12 display-flex-row">
                                    <div class="col-md-2">
                                        <label for="name">이름</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="name" class="form-control valid-fields" name="name" placeholder="이름을 입력해주세요."
                                               th:field="*{name}" th:readonly="${isModify}" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="form-group col-md-12 display-flex-row">
                                    <div class="col-2">
                                        <label for="password">비밀번호</label>
                                    </div>
                                    <div class="col-md-6 display-flex-column">
                                        <input id="password" type="password" class="form-control valid-fields" name="password" placeholder="비밀번호를 입력해주세요.">
                                        <div class="checkPasswordSection"></div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="form-group col-md-12 display-flex-row">
                                    <div class="col-md-2">
                                        <label for="confirmPassword">비밀번호 확인</label>
                                    </div>
                                    <div class="col-md-6 display-flex-column">
                                        <input id="confirmPassword" type="password" class="form-control valid-fields" name="confirmPassword" placeholder="비밀번호를 다시 입력해주세요.">
                                        <div class="checkConfirmPasswordSection"></div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="form-group col-md-12 display-flex-row">
                                    <div class="col-md-2">
                                        <label for="name">소속</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control" name="teamId">
                                            <th:block th:each="team : ${teams}">
                                                <option th:value="${team.teamId}" th:text="${team.name}" th:selected="${dto.teamId eq team.teamId}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="form-group col-md-12 display-flex-row">
                                    <div class="col-md-2">
                                        <label for="name">전화번호</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="phone" class="form-control valid-fields" name="phone" placeholder="전화번호를 입력해주세요."
                                               th:field="*{phone}" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="form-group col-md-12 display-flex-row">
                                    <div class="col-md-2">
                                        <label for="userStatus_Pending">상태</label>
                                    </div>
                                    <div class="col-md-10">
                                        <label class="radio-label" style="font-weight: normal;">
                                            <input type="radio" id="userStatus_Pending" name="status" value="PENDING" th:checked="${dto.status eq AdminStatus.PENDING}">
                                            <label class="radio-label" style="font-weight: normal;">대기</label>
                                        </label>
                                        <label class="radio-label" style="font-weight: normal;">
                                            <input type="radio" id="userStatus_Normal" name="status" value="NORMAL" th:checked="${dto.status eq AdminStatus.NORMAL}">
                                            <label class="radio-label" style="font-weight: normal;">활성</label>
                                        </label>
                                        <label class="radio-label" style="font-weight: normal;">
                                            <input type="radio" id="userStatus_Rejected" name="status" value="INACTIVE" th:checked="${dto.status eq AdminStatus.INACTIVE}">
                                            <label class="radio-label" style="font-weight: normal;">비활성</label>
                                        </label>
                                        <label class="radio-label" style="font-weight: normal;">
                                            <input type="radio" id="userStatus_Withdraw" name="status" value="WITHDRAW" th:checked="${dto.status eq AdminStatus.WITHDRAW}">
                                            <label class="radio-label" style="font-weight: normal;">탈퇴</label>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group display-flex-column roleSection" sec:authorize="hasRole('SUPER_ADMIN')">
                                    <div class="col-md-12 display-flex-row">
                                        <label class="col-md-2 control-label">역할</label>
                                        <div class="col-md-3">
                                            <label class="text-center" style="width: 100%">비활성 역할</label>
                                            <select multiple="" class="form-control valid-ignore excludeData" style="height: 82px;">
                                                <option th:value="${r.name}" th:each="r: ${roles}">
                                                    [[${r.description}]]
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-1">
                                            <div style="display:flex;align-items: center;justify-content: center;height: 120px">
                                                <div class="btn-group-vertical align-middle">
                                                    <button type="button" class="btn btn-info btnIncludeData"><i
                                                            class="fa fa-caret-right"></i></button>
                                                    <button type="button" class="btn btn-danger btnExcludeData"><i
                                                            class="fa fa-caret-left"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="text-center" style="width: 100%">활성된 역할</label>
                                            <select multiple="" class="form-control valid-ignore includeData" style="height: 82px;">
                                                <option th:value="${r.name}" th:each="r, status : ${roles}"
                                                        style="display: none">[[${r.description}]]
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="display-flex-row col-md-12">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-10">
                                            <span id="roleNames"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-sm btnSave float-right" th:if="${!isModify}"><i class="fa fa-plus"></i> 저장</button>
                                    <button type="button" class="btn btn-primary btn-sm btnUpdate float-right" th:if="${isModify}"><i class="fa fa-plus"></i> 수정</button>
                                    <a href="/settings/administrators" class="btn btn-default btn-sm float-right margin-right-5"> 목록</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var dto =/*[[${dto}]]*/'';
        /*]]>*/
    </script>
    <script th:replace="layouts/fragments :: jQuery-validation"></script>
    <script src="/static/js/settings/administrator/administrator_editor.js" th:src="@{/js/settings/administrator/administrator_editor.js}"></script>
</section>
</body>
</html>
