# Project exclude paths
/.gradle/
bin

#idea
.idea

# build
build
node_modules
yarn.lock

# credentials
application-credentials.yml
application-credentials-local.yml
application-dev.yml
application-stage.yml
application-hanshin.yml

logs