<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <style>
        .modal-body * {
            font-size: 12px;
        }
        #calendar a {
            color: black !important;
        }
    </style>
</head>
<body>
<div layout:fragment="content" th:with="YNType = ${T(io.gig.realestate.domain.common.YnType)}">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-12">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Calendar</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 padding-20" style="background-color: #ffffff; border-top: 2px solid darkorange; font-size: 12px;">
                    <div id="calendar"></div>
                </div>
                <div class="col-md-2">
                    <div class="card font-size-12">
                        <div class="card-header">
                            <h3 class="card-title text-center" style="font-size: 15px;">검색조건</h3>
                        </div>
                        <div class="card-body">
                            <form name="frmSearch">
                                <div class="row">
                                    <select class="form-control form-control-sm adminList col-md-12 margin-bottom-5" name="adminId">
                                        <option value="">담당자</option>
                                        <th:block th:each="admin : ${admins}">
                                            <option th:value="${admin.adminId}" th:adminId="${admin.adminId}" th:adminName="${admin.name}" th:selected="${condition.adminId eq admin.adminId}">[[${admin.name}]]</option>
                                        </th:block>
                                    </select>
                                    <select class="form-control form-control-sm col-md-12 margin-bottom-5" name="buyerGradeCd">
                                        <option value="">매수자등급</option>
                                        <th:block th:each="code, status : ${buyerGradeCds}">
                                            <option th:value="${code.code}" th:selected="${condition.buyerGradeCd eq code.code}">[[${code.name}]]</option>
                                        </th:block>
                                    </select>
                                    <button type="submit" class="btn btn-sm btn-primary col-md-12 btnSchedulerAdd">검 색</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade margin-top-100 modal-box" tabindex="-1" role="dialog" id="scheduleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 700px;">
                <div class="modal-header">
                    <h5 class="modal-title control-label" style="font-weight: bold;">일정 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-dialog-scrollable display-flex-column" style="max-height: 900px; min-height: 200px;">
                    <div class="line display-flex-column">
                        <div class="display-flex-row line">
                            <label class="col-md-2 control-label padding-top-6">담당자</label>
                            <div class="col-md-3">
                                <select class="form-control form-control-sm adminList">
                                    <option value="">선택해주세요.</option>
                                    <th:block th:each="admin : ${admins}">
                                        <option th:value="${admin.username}" th:adminId="${admin.adminId}" th:adminName="${admin.name}" th:if="${loginUser.id ne admin.adminId}">[[${admin.name}]]</option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col-md-7 managerSection">
                                <button type="button" class="btn btn-xs btn-default btnManager" th:adminId="${loginUser.id}" th:username="${loginUser.username}" style="margin-right: 5px; margin-top: 3px;">[[${loginUser.adminName}]]</button>
                            </div>
                        </div>
                        <div class="display-flex-row line">
                            <label class="col-md-2 control-label padding-top-6">제목</label>
                            <div class="col-md-10">
                                <input type="hidden" name="argStartDate" />
                                <input type="hidden" name="argEndDate" />
                                <input type="hidden" name="argAllDay" />
                                <input type="hidden" name="startDate" />
                                <input type="hidden" name="endDate" />
                                <input type="text" class="form-control" name="title" />
                            </div>
                        </div>
                        <div class="display-flex-row line">
                            <label class="col-md-2 control-label padding-top-6">고객명</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="customerName" autocomplete="off">
                            </div>
                            <label class="col-md-2 control-label padding-top-6" style="padding-left: 45px;">고객 등급</label>
                            <div class="col-md-3">
                                <select class="form-control form-control-sm buyerGradeCd" style="font-size: 12px;">
                                    <option value="">선택해주세요.</option>
                                    <th:block th:each="code, status : ${buyerGradeCds}">
                                        <option th:value="${code.code}">[[${code.name}]]</option>
                                        <!--                                        <option th:value="${code.code}" th:selected="${not #strings.isEmpty(dto.buyerGradeCds) && #strings.contains(dto.buyerGradeCds, code.code)}">[[${code.name}]]</option>-->
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="display-flex-row line">
                            <label class="col-md-2 control-label padding-top-6">메모</label>
                            <div class="col-md-10">
                                <textarea class="form-control form-control-sm" rows="5" name="memo" style="padding: 13px;"></textarea>
                            </div>
                        </div>
<!--                        <div class="display-flex-row line">-->
<!--                            <label class="col-md-2 control-label padding-top-6">첨부파일</label>-->
<!--                            <div class="col-md-10">-->
<!--                                <button type="button" class="btn btn-xs btn-default" style="margin-right: 5px; margin-top: 3px;">업로드</button>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div class="form-horizontal line">
                        <button type="button" class="btn btn-sm btn-primary btnAddSchedule pull-right padding-right-10">등록</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade margin-top-100 modal-box" tabindex="-1" role="dialog" id="scheduleEditModal" style="max-height: 650px; overflow-y: auto;">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 700px;">
                <div class="modal-header">
                    <h5 class="modal-title control-label" style="font-weight: bold;">일정 상세</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-dialog-scrollable display-flex-column" style="max-height: 900px; min-height: 200px;">
                    <div class="line display-flex-column">
                        <div class="display-flex-row line">
                            <label class="col-md-2 control-label">담당자</label>
                            <div class="col-md-3">
                                <select class="form-control form-control-sm adminList">
                                    <option value="">선택해주세요.</option>
                                    <th:block th:each="admin : ${admins}">
                                        <option th:value="${admin.username}" th:adminId="${admin.adminId}" th:adminName="${admin.name}" th:if="${loginUser.id ne admin.adminId}">[[${admin.name}]]</option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col-md-7 managerSection"></div>
                        </div>
                        <div class="display-flex-row line">
                            <label class="col-md-2 control-label">제목</label>
                            <div class="col-md-10">
                                <input type="hidden" name="argStartDate" />
                                <input type="hidden" name="argEndDate" />
                                <input type="hidden" name="argAllDay" />
                                <input type="hidden" name="startDate" />
                                <input type="hidden" name="endDate" />
                                <input type="hidden" name="schedulerId" />
                                <input type="text" class="form-control" name="title" />
                            </div>
                        </div>
                        <div class="display-flex-row line">
                            <label class="col-md-2 control-label padding-top-6">고객명</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="customerName" autocomplete="off">
                            </div>
                            <label class="col-md-2 control-label padding-top-6" style="padding-left: 45px;">고객 등급</label>
                            <div class="col-md-3">
                                <select class="form-control form-control-sm buyerGradeCd" style="font-size: 12px;">
                                    <option value="">선택해주세요.</option>
                                    <th:block th:each="code, status : ${buyerGradeCds}">
                                        <option th:value="${code.code}">[[${code.name}]]</option>
                                        <!--                                        <option th:value="${code.code}" th:selected="${not #strings.isEmpty(dto.buyerGradeCds) && #strings.contains(dto.buyerGradeCds, code.code)}">[[${code.name}]]</option>-->
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="display-flex-row line">
                            <label class="col-md-2 control-label">메모</label>
                            <div class="col-md-10">
                                <textarea class="form-control form-control-sm" rows="5" name="memo" style="padding: 13px;"></textarea>
                            </div>
                        </div>
                        <div class="form-horizontal line">
                            <button type="button" class="btn btn-sm btn-primary btnEditSchedule pull-right padding-right-10">수정</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<section layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var errorMessage =/*[[${errorMessage}]]*/'';
        var schedulers =/*[[${schedulers}]]*/'';
        /*]]>*/
    </script>
    <script src="/static/js/index/index.js" th:src="@{/js/index/index.js}"></script>
</section>
</body>
</html>
