.display-flex-row {
    display: flex;
    flex-direction: row;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}

.no-padding {
    padding: 0 !important;
}

.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.padding-10 {
    padding: 10px !important;
}

.padding-8 {
    padding: 8px !important;
}

.padding-6 {
    padding: 6px !important;
}

.line {
    margin-bottom: 30px;
}

.sub-line {
    margin-bottom: 15px;
}

.hidden {
    visibility: hidden;
}

.radio-label {
    padding-left: 0;
    font-size: 14px;
    margin-right: 10px;
}

.image-panel img {
    width:100%;
    height:100%;
}

.image-panel {
    width:220px;
    height:220px;
    position: relative;
}

.image-panel span {
    vertical-align: center;
}

.image-panel .remove-video {
    width: 25px;
    height: 25px;
    position: absolute;
    top:0px;
    right: 0px;
    padding: 0px;
}

.image-panel .remove-image {
    width: 30px;
    height: 30px;
    position: absolute;
    top:0px;
    right: 0px;
    padding: 0px;
}

.image-panel .update-image {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 31px;
    top: 0px;
    padding: 0px;
    z-index: 1000;
}

.image-panel .update-image i {
    font-size: 15px;
}

.image-panel .remove-image i {
    font-size: 15px;
}

.font-normal {
    font-weight: normal;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-right-3 {
    margin-right: 3px;
}

.margin-right-4 {
    margin-right: 4px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-8 {
    margin-right: 8px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-3 {
    margin-left: 3px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-3 {
    margin-top: 3px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-top-200 {
    margin-top: 200px;
}

.hidden {
    display: none!important
}

.text-normal {
    font-weight: normal;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-10 {
    padding-left: 10px;
}

.text-color-red {
    color: red;
}

.text-label {
    font-size: 14px;
}

.search-label {
    font-weight: normal;
    font-size: 14px;
}

.center-text {
    text-align: center;
}

.horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap; /* 요소 안에서 줄 바꿈 방지 */
}

.customer-info {
    border : 1px solid #eee
}

.bg-gray {
    background-color: #eeeee;
}

.input-height-36 {
    height: 36px;
}

.search-single-group {
    width: 11%
}

.search-double-group {
    width: 22%
}

.search-double-field input, .input-label + input{
    height: 64px;
    padding-top: 30px;
    border: 0;
}

.search-table .input-label + .select-box {
    margin-top: 25px !important;
    border: 1px solid #ffffff !important;
}

.border-none {
    border: none;
}

.input-label {
    position: relative;
}

.input-label .top-label {
    position: absolute;
    top: 4px;
    left: 10px;
}

.input-label .bottom-label {
    position: absolute;
    bottom: 4px;
    right: 10px;
}

.input-label .search-text {
    font-size: 0.9rem;
    font-weight: normal;
    color: #828a92;
    white-space: nowrap;
}

.search-input {
    font-size: 1.1rem;
}

.search-input-sm {
    width: 30%;
}

.input-div {
    position: relative;
}

.input-div span{
    font-size: 1.2rem;
    position: absolute;
    bottom: 8px;
}

.text-alien-center {
    text-align: center;
    justify-content: center;
}

.text-blue {
    color: darkblue;
}

.button-pointer {
    cursor: pointer;
}

.height-select {
    height: 36px;
}

.line-center {
    line-height: 2;
}

.search-table tbody tr:first-child td:first-child {
    border: 0;
}

.search-table thead th {
    border: 0;
}

.search-table .search-title {
    border: 0;
}

.search-table td {
    padding: 5px;
    border: 1px solid #c3cad2;
    border-radius: 3px;
}

.search-table th {
    border: 0;
}

.textarea-resize {
    resize: none;
}

.spacing-table {
    border-spacing: 10px;
    border-collapse: separate;
}

.list-img-size {
    width: 75px;
    height: 75px;
}

.width-60px {
    min-width: 60px;
}

.min-width-50px {
    min-width: 50px;
}