<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/realestate/revenue}">
<head>
    <link rel="stylesheet" type="text/css" href="/node_modules/jquery-minicolors/jquery.minicolors.css" />
    <style>
        .container-fluid input {
            height: 30px !important;
            font-size: 12px;
        }

        .content * {
            font-size: 12px;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 display-flex-column">
                    <div class="card" style="margin-top: 10px;">
                        <form class="form-horizontal" name="frmAdminRegister" method="post">
                            <div class="card-header">
                                <h3 class="card-title" style="font-weight: bold;">수익률정보 - 데이터 입력 값</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-top-6">A.매매호가</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" style="max-height: 30px;" disabled> &nbsp;억원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">&nbsp;</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column"></div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">&nbsp;</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column"></div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">&nbsp;</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column"></div>
                                </div>


                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-top-6">B.실제조정가</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;억원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">C.자기자본출자액</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;억원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">D.보증금</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;억원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6 color-blue">&nbsp;</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row"></div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-top-6">F.중개수수료(0.9%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">G.취득세(4.6%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">H.법무사비+잡비(0.2%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">L.명도예상비</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-top-6">J.대출금리</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;%&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">K.단순1년대출이자</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">I.신축시 건물보존등기취득세(3.16%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">&nbsp;</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column"></div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-top-6">M.신축비 연면적평당</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10">N.리모델링비 연면적평당 (1000만원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10">O.철거비_연면적평당 (100만원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10">&nbsp;</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column"></div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-top-6">P.1개월임대료</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">Q.1년임대료(T*12)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">R.1개월관리비</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">S.1년관리비(v*12)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-sm btnSave float-right"><i class="fa fa-plus"></i> 저장</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 display-flex-column">
                    <div class="card" style="margin-top: 10px;">
                        <form class="form-horizontal" name="frmAdminRegister" method="post">
                            <div class="card-header">
                                <h3 class="card-title" style="font-weight: bold;">수익률정보 - 단순 수익률 (브리핑용_매매호가_비용제외)</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-top-6">A.매매호가</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" style="max-height: 30px;" disabled> &nbsp;억원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">&nbsp;</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column"></div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">&nbsp;</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column"></div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">&nbsp;</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column"></div>
                                </div>


                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-top-6">B.실제조정가</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;억원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">C.자기자본출자액</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;억원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6">D.보증금</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;억원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10 padding-top-6 color-blue">E.단순취득시 대출액(B-C-D)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;억원&nbsp;&nbsp;</button>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-top-6">F.중개수수료(0.9%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10">G.취득세(4.6%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10">H.법무사비+잡비(0.2%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-10">I.신축시 건물보존등기취득세(3.16%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-row">
                                        <input type="text" class="form-control form-control-sm" value="0"/>
                                        <button type="button" class="btn btn-xs btn-default min-width-50px max-height-30" disabled> &nbsp;만원&nbsp;&nbsp;</button>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-left-10">신축시 건물보존등기취득세 (3.16%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">대출금리</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">단순1년대출이자</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">단순1개월대출이자 (M/12)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-left-10">명도예상비</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">신축비 연면적평당 (1000만원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">리모델링비 연면적평당 (600만원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">철거비_연면적평당 (100만원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-left-10">1년임대료 (T*12)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">1개월 임대료</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">1년관리비(v*12)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">1개월관리비</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-sm btnSave float-right"><i class="fa fa-plus"></i> 저장</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 display-flex-column">
                    <div class="card" style="margin-top: 10px;">
                        <form name="frmAdminRegister" method="post">
                            <div class="card-header">
                                <h3 class="card-title" style="font-weight: bold;">수익률정보 - 단순 수익률 (내부용_실제조정가_비용제외)</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-left-10">탁감금액 (억원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">대출금액 (억원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">투자현금 (억원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">실제매입금액 (억원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-left-10">연간이자 (%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">연간이자 (12개월)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">예상명도비 (억원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">신축비용 (억원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-left-10">리모델링비용 (억원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">신축/리모델링이후 예상 월세 및 관리비 (만원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">0년후 예상가격 (억원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">투자현금대비 수익금 (억원)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 display-flex-column">
                    <div class="card" style="margin-top: 10px;">
                        <form class="form-horizontal" name="frmAdminRegister" method="post">
                            <div class="card-header">
                                <h3 class="card-title" style="font-weight: bold;">수익률정보 - 실제 수익률 (내부용_실제조정가_비용 및 이자, 수입 반영)</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 display-flex-column">
                    <div class="card" style="margin-top: 10px;">
                        <form class="form-horizontal" name="frmAdminRegister" method="post">
                            <div class="card-header">
                                <h3 class="card-title" style="font-weight: bold;">매각가치 (실제수익률 및 향후 매년 % 기대수익으로 엑시트 이득 계산)</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-left-10 color-blue">1년관리비수익(30%수익)(V*30%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">신축 또는 수선시 매년(1~5년차) 대출이자</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">신축 또는 수선시 1개월 대출이자</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">신축 또는 수선시 1년 예상 수입</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                </div>


                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-left-10 color-blue">신축 또는 수선시 1개월 예상 수입</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">신축 또는 수선시 매월 예상 수입</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">신축 또는 수선시 매년 임대 예상 수익금</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">신축 또는 수선시 임대 예상 수익률</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-left-10 color-blue">1년후 부동산 예상 상승률(%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">2년 후 부동산 예상 상승률(%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">3년 후 부동산 예상 상승률(%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">4년 후 부동산 예상 상승률(%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-left-10 color-blue">5년후 부동산 예상 상승률(%)</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">미래부동산 예상가격</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">미래부동산 예상가격 - 기재된 비용</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">미래부동산 예상가격 - 실제들어간 비용_매년비교된 금액 및 비율</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label class="padding-left-10 color-blue">엑시트되었을 때의 매매금액 - 실제금액에서의 이득차액과 수익률</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">엑시트되었을 때의 매매금액 - 실제금액에서의 이득차액과 수익률_실제투자된 금액 기준</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">1~5년 후 예상 대출 금리</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="padding-left-20">신축 또는 수선시 예상연면적</label>
                                    </div>
                                    <div class="col-md-2 display-flex-column">
                                        <input type="text" class="form-control valid-fields" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">
    </script>
</section>
</body>
</html>
