<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navigator(oneStepUrl, oneStepName, twoStepName)">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> 홈</a></li>
                        <li class="breadcrumb-item" th:classappend="${twoStepName == null ? 'active' : ''}"><a th:href="${oneStepUrl}">[[${oneStepName}]]</a></li>
                        <th:block th:if="${twoStepName != null}">
                            <li class="breadcrumb-item active">[[${twoStepName}]]</li>
                        </th:block>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
</div>
<div th:fragment="attachment">
    <form name="frmUpload" class="hidden" enctype="multipart/form-data" method="post" action="/attachment/upload">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" >
        <input type="file" id="file" name="file" />
        <input type="file" multiple="multiple" id="files" name="files[]" />
        <input type="text" id="usageType" name="usageType" />
        <input type="text" id="fileType" name="fileType" />
    </form>
</div>

<!-- Admin-console -->
<div th:fragment="adminPagination(pages)">
    <div class="display-flex-row">
        <div style="margin: 0 auto;">
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination" th:unless="${pages.totalPages eq 0}" th:with="pageStartNum = ${(pages.number/5)*5}, pageEndNum = ${pageStartNum+(5-1)}">
                    <li class="paginate_button page-item previous" th:classappend="${pages.number == 0 ? 'disabled' : ''}">
                        <a class="page-link" th:href="${pages.number == 0 ? '#none' : 'javascript:pagination('+(0)+')'}"
                           aria-label='Previous'>
                            <span aria-hidden='true'>&#60;&#60;</span>
                        </a>
                    </li>
                    <li class="paginate_button page-item" th:classappend="${pages.number == 0 ? 'disabled' : ''}">
                        <a class="page-link" th:href="${pages.number == 0 ? '#none' : 'javascript:pagination('+(pages.number-1)+')'}"
                           aria-label='Previous'>
                            <span aria-hidden='true'>&#60;</span>
                        </a>
                    </li>
                    <li class="paginate_button page-item" th:each="no:${#numbers.sequence(pageStartNum, pages.totalPages <= pageEndNum ? pages.totalPages-1 : pageEndNum)}" th:classappend="${pages.number eq no}?'active':''">
                        <a class="page-link" th:href="'javascript:pagination('+${no}+')'" th:inline="text">
                            [[${no+1}]]
                        </a>
                    </li>
                    <li class="paginate_button page-item" th:classappend="${pages.hasNext() and pages.totalPages > (pages.number+1) } ? '' : 'disabled'">
                        <a class="page-link" th:href="${pages.hasNext() and pages.totalPages > (pages.number+1) ? 'javascript:pagination('+(pages.number+1)+')' : '#none'}"
                           aria-label='Next'>
                            <span aria-hidden='true'>&#62;</span>
                        </a>
                    </li>
                    <li class="paginate_button page-item next" th:classappend="${pages.hasNext() and pages.totalPages > (pages.number+1) } ? '' : 'disabled'">
                        <a class="page-link" th:href="${pages.hasNext() and pages.totalPages > (pages.number+1) ? 'javascript:pagination('+(pages.totalPages-1)+')' : '#none'}"
                           aria-label='Next'>
                            <span aria-hidden='true'>&#62;&#62;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:fragment="admin-info(dto)">
    <div class="form-group col-12 display-flex-row" th:if="${isModify}">
        <div class="col-2">
            <label>최종수정자</label>
        </div>
        <div class="col-4">
            <span th:text="${dto.updatedByUsername}"></span>
        </div>
        <div class="col-2">
            <label>최종수정일</label>
        </div>
        <div class="col-4">
            <span>[[${#temporals.format(dto.updatedAt, 'YYYY-MM-dd HH:mm:ss')}]]</span>
        </div>
    </div>
    <div class="form-group col-12 display-flex-row" th:if="${isModify}">
        <div class="col-2">
            <label>최초수정자</label>
        </div>
        <div class="col-4">
            <span th:text="${dto.createdByUsername}"></span>
        </div>
        <div class="col-2">
            <label>최초작성일</label>
        </div>
        <div class="col-4">
            <span>[[${#temporals.format(dto.createdAt, 'YYYY-MM-dd HH:mm:ss')}]]</span>
        </div>
    </div>
</div>

<div th:fragment="commonModal">
    <div class="modal fade show" id="commonModal" aria-modal="true" style="padding-right: 17px; display: none; margin-top: 450px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="commonModalTitle" class="modal-title">Alert</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="commonModalContent"></div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default commonModalClose" data-dismiss="modal">Close</button>
                    <button type="button" id="commonModalConfirm" class="btn btn-primary float-right">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div th:fragment="signUpModal">
    <div class="modal fade margin-top-200" tabindex="-1" role="dialog" id="sign-up-modal">
        <div class="modal-dialog" role="document" style="border : 2px solid darkorange;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title control-label" style="font-weight: bold;">관리자 계정 가입</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-dialog-scrollable" style="max-height: 1030px; height: 100%; overflow: auto;">
                    <div class="form-horizontal col-md-12">
                        <form class="form-horizontal" name="frmRegister" method="post">
                            <input type="hidden" id="emailCheckYn" value="false"/>
                            <input type="hidden" id="pwValidCheckYn" value="false"/>
                            <input type="hidden" id="pwEqualCheckYn" value="false"/>

                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td class="col-md-9" colspan="9">
                                        <input type="text" class="form-control" name="username" maxlength="50" placeholder="이메일*">
                                    </td>
                                    <td class="col-md-3 no-left-padding" colspan="3">
                                        <button type="button" class="btn btn-primary btnCheckDuplicate"> 중복확인</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-12" colspan="12">
                                        <div class="display-flex-column">
                                            <input type="password" class="form-control" name="password" maxlength="50" placeholder="비밀번호*">
                                            <div class="passwordMsg"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-12" colspan="12">
                                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" maxlength="50" placeholder="비밀번호확인*">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-12" colspan="12">
                                        <input type="text" class="form-control" name="name" maxlength="50" placeholder="이름*">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-12" colspan="12">
                                        <input type="text" class="form-control" name="phone" maxlength="50" placeholder="전화번호*">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6" colspan="6">
                                        <select class="form-control" name="teamId">
                                            <option value="">--소속--</option>
                                            <th:block th:each="team : ${teams}">
                                                <option th:value="${team.teamId}" th:text="${team.name}"></option>
                                            </th:block>
                                        </select>
                                    </td>
                                    <td class="col-md-6" colspan="6">
                                        <select class="form-control" name="roleName">
                                            <option value="">--구분--</option>
                                            <option value="ROLE_MANAGER">팀장</option>
                                            <option value="ROLE_MEMBER">팀원</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-12" colspan="12" style="padding-bottom: 0;">
                                        <label class="control-label" style="padding-right: 15px;">
                                            <input type="checkbox" class="checkElement" name="approveStatus" id="privacyAgree">
                                            <label style="padding-left: 10px;">개인정보 수집 및 이용에 동의합니다. <a href="javascript:void(0);" id="btnPrivacyPolicy" style="font-size:11px;color:gray;text-decoration:none;">(내용보기)</a></label>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-12" colspan="12" style="padding-top: 0;">
                                        <label class="control-label" style="padding-right: 15px;">
                                            <input type="checkbox" class="checkElement" name="approveStatus" id="policyAgree">
                                            <label style="padding-left: 10px;">사이트 이용 약관에 동의합니다. <a href="javascript:void(0);" id="btnCallPolicy" style="font-size:11px;color:gray;text-decoration:none;">(약관보기)</a></label>
                                        </label>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td class="col-md-12" colspan="12">
                                        <button type="button" id="btnSignUp" class="btn btn-primary col-md-12">가입 요청</button>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</body>
</html>
