<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/detail}">
<head>
    <link rel="stylesheet" type="text/css" href="/node_modules/jquery-minicolors/jquery.minicolors.css" />
</head>
<body>
<div layout:fragment="content">
    <div th:replace="layouts/utilFragments::navigator('/settings/-manager', '설정', '법정동 코드관리')"></div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fa fa-cog"></i>
                                &nbsp;&nbsp;법정동 코드
                            </h3>
                        </div>
                        <div class="card-body">
                            <form name="frmExcelUpload" method="post" th:action="@{/settings/area-manager/excel/read}" enctype="multipart/form-data">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" >
                                <div class="form-group col-md-6 display-flex-column">
                                    <div class="form-group col-md-12 display-flex-row">
                                        <input id="filename" class="form-control col-md-9 margin-right-5" placeholder="첨부파일" readonly>
                                        <button type="button" id="btnSearchFile" class="btn btn-default">파일찾기</button>
                                        <input type="file" id="file" class="hidden" name="file" accept=".xls,.xlsx">
                                    </div>
                                    <div class="col-md-12">
                                        <button type="button" id="btnExcelUpload" class="btn btn-primary">엑셀 업로드</button>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section layout:fragment="script">
    <script src="/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="/node_modules/jquery-minicolors/jquery.minicolors.js"></script>
    <script th:inline="javascript" type="application/javascript">
    </script>
    <script src="/static/js/settings/area/area-manager.js" th:src="@{/js/settings/area/area-manager.js}"></script>
</section>
</body>
</html>
