<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <style>
        .content * {
            font-size: 12px;
        }

        .container-fluid select {
            height: 30px;
        }
    </style>
</head>
<body>
<div layout:fragment="content" th:with="AdminStatus = ${T(io.gig.realestate.domain.admin.types.AdminStatus)}">
    <div th:replace="layouts/utilFragments::navigator('/settings/alarm-template', '알람 템플릿 관리', '템플릿 목록')"></div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="callout">
                        <form name="frmSearch">
                            <input type="hidden" name="page" th:value="${condition.page}" />
                            <input type="hidden" name="size" th:value="${condition.size}" />
                            <div class="row col-md-12" style="margin-bottom: 25px;">
                                <h5 class="col-md-9 no-left-padding" style="font-size: 18px;"><i class="fa fa-building"></i> 알람템플릿관리</h5>
                                <div class="col-md-3 pull-right">
                                    <a href="/settings/alarm-template/new" class="btn btn-sm btn-primary float-right" style="text-decoration: none; color: #ffffff;"><i class="fa fa-plus"></i> 템플릿등록</a>
                                </div>
                            </div>
                            <div class="col-md-12 display-flex-row line">
                                <div class="col-md-2" style="padding-top: 5px; padding-left: 30px;">
                                    <label>제목</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="title" name="title" th:value="${condition.title}" placeholder="제목을 입력하세요." />
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="col-12 display-flex-row line">
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-sm btn-default float-right">
                                            <i class="fa fa-search"></i> 검색
                                        </button>
                                        <button type="button" id="btnReset" class="btn btn-sm btn-success float-right margin-right-5"><i class="fa fa-refresh"></i>
                                            초기화
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title display-flex-row padding-top-5">
                                <h4 class="margin-right-5" style="font-size: 15px;">총</h4>
                                <span class="font-size-12" style="padding-top: 3px;">(&nbsp;[[${totalCount}]]개&nbsp;)</span>
                            </div>
                            <div class="card-tools float-right">
                                <select class="form-control" id="limit">
                                    <option value="10" th:selected="${condition.size} == 10 ? selected ">10개</option>
                                    <option value="20" th:selected="${condition.size} == 20 ? selected ">20개</option>
                                    <option value="30" th:selected="${condition.size} == 30 ? selected ">30개</option>
                                    <option value="50" th:selected="${condition.size} == 50 ? selected ">50개</option>
                                    <option value="100" th:selected="${condition.size} == 100 ? selected ">100개</option>
                                    <option value="300" th:selected="${condition.size} == 300 ? selected ">300개</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <table class="table table-striped projects">
                                    <thead>
                                    <tr>
                                        <th style="width: 10%;">템플릿 ID</th>
                                        <th style="width: 20%;">제목</th>
                                        <th style="width: 20%;">도착페이지</th>
                                        <th style="width: 10%;">이메일 ID</th>
                                        <th style="width: 7%;">문자 발송 여부</th>
                                        <th style="width: 7%;">이메일 발송 여부</th>
                                        <th style="width: 7%;">푸쉬 발송 여부</th>
                                        <th style="width: 7%;">등록자</th>
                                        <th style="width: 11%;">등록일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${not #lists.isEmpty(pages.content)}" th:each="item, status : ${pages.content}">
                                        <td th:text="${item.templateCd}"></td>
                                        <td>
                                            <a th:href="|/settings/alarm-template/${item.alarmTemplateId}/edit|" th:text="${item.title}"></a>
                                        </td>
                                        <td th:text="${item.landingUrl}"></td>
                                        <td th:text="${item.emailTemplateCd}"></td>
                                        <td th:text="${item.smsSendYn eq YnType.Y ? '활성화' : '비활성화'}"></td>
                                        <td th:text="${item.emailSendYn eq YnType.Y ? '활성화' : '비활성화'}"></td>
                                        <td th:text="${item.pushSendYn eq YnType.Y ? '활성화' : '비활성화'}"></td>
                                        <td th:text="${item.createdByName}"></td>
                                        <td th:text="${#temporals.format(item.createdAt, 'YYYY-MM-dd HH:mm')}"></td>
                                    </tr>
                                    <tr th:if="${#lists.isEmpty(pages.content)}">
                                        <td class="text-center" colspan="9">등록된 템플릿이 없습니다.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <div th:replace="layouts/utilFragments::adminPagination(${pages})"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section layout:fragment="script">
    <script th:inline="javascript">
    </script>
    <script src="/static/js/settings/alarm-template/alarm-template_list.js" th:src="@{/js/settings/alarm-template/alarm-template_list.js}"></script>
</section>
</body>
</html>
