<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <div class="row padding-top-10">
                <div class="col-md-12 display-flex-row">
                    <select class="form-control col-md-1 margin-right-5 border-none" name="sido">
                        <option value="">시도 선택</option>
                    </select>
                    <select class="form-control col-md-1 select-box margin-right-5 border-none" name="gungu">
                        <option value="">구군 선택</option>
                    </select>

                    <select class="form-control col-md-1 select-box margin-right-4 border-none" name="dong">
                        <option value="">동 선택</option>
                    </select>
                </div>
            </div>
            <div class="row padding-top-10">
                <div class="col-md-12">
                    <div id="map" style="width:1200px;height:600px;"></div>
                </div>
            </div>
        </div>
    </section>
</div>
<section layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">
    </script>
    <script th:replace="layouts/fragments :: kakaoMaps"></script>
    <script src="/static/js/map/kakao_map.js" th:src="@{/js/map/kakao_map.js}"></script>
    <script src="/static/js/map/map.js" th:src="@{/js/map/map.js}"></script>
</section>
</body>
</html>
